body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    margin: 1px;
    color: aqua;
    width: 99vw;
    height: 99vh;
    border: 2px solid aqua;
    overflow: hidden;
}

.mainCanvas {
    width: 100%;
    height: 100%;
}

.infoDiv {
    position: absolute;
    left: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
